<div style="padding:12px">
  <h2 mat-dialog-title>Редактирование категории</h2>

  <mat-dialog-content>
    <form [formGroup]="categoryEditFields">
      <p>
        <mat-form-field style="width:80%">
          <mat-label>Родитель</mat-label>
          <mat-select formControlName="parentId">
            <mat-optgroup *ngFor="let group of parentsNodesList" [label]="group.groupName">
              <mat-option *ngFor="let node of group.groupedParentNodes" [value]="node.id">
                {{ node.value }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width:80%">
          <input matInput placeholder="Название на русском" formControlName="nameRus">
          <div *ngIf="nameRus.invalid && (nameRus.dirty || nameRus.touched)">
            <mat-error *ngIf=" nameRus.errors.minlength">Не меньше: 4</mat-error>
            <mat-error *ngIf=" nameRus.errors.minlength">Не более: 200</mat-error>
            <mat-error *ngIf="nameRus.errors.required">Поле обязатально</mat-error>
            <mat-error *ngIf="nameRus.errors.notunique">Имя не уникально</mat-error>
          </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width:80%">
          <input matInput placeholder="Название на украинском" formControlName="nameUkr">
          <div *ngIf="nameUkr.invalid && (nameUkr.dirty || nameUkr.touched)">
            <mat-error *ngIf="nameUkr.errors.minlength">Не меньше: 4</mat-error>
            <mat-error *ngIf="nameUkr.errors.minlength">Не более: 200</mat-error>
            <mat-error *ngIf="nameUkr.errors.required">Поле обязатально</mat-error>
            <mat-error *ngIf="nameUkr.errors.notunique">Имя не уникально</mat-error>
          </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width:80%">
          <input matInput placeholder="Url картинки для отображения" formControlName="imageUrl" />
          <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)">
            <mat-error *ngIf="imageUrl.errors.pattern">Это не верный URL</mat-error>
            <mat-error *ngIf="imageUrl.errors.required">Поле обязатально</mat-error>
          </div>
        </mat-form-field>
        <img [src]="imageUrl.value" />
      </p>

    </form>
    <p>
      <mat-slide-toggle class="example-margin" [(ngModel)]="selectedNode.Vogue">
        Популярная категория
      </mat-slide-toggle>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="buttons-preview">
      <button class="btn btn-danger" (click)="close()">Отмена</button>
      <button class="btn btn-success" (click)="save()" [disabled]="categoryEditFields.invalid">Сохранить</button>
    </div>
  </mat-dialog-actions>
</div>


